.GlobalContainer {

  height: 100%;
  width: 100%;
  background-image: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.941), rgba(61, 194, 194, 0.086)),
    url("https://images.pexels.com/photos/3944104/pexels-photo-3944104.jpeg?auto=compress&cs=tinysrgb&w=1290&h=850&dpr=1")
}

