
.GlobalContainer {

  height: 100%;
    width: 100%;
   
  
  background-image: linear-gradient(rgba(9, 95, 116, 0.306), rgba(0, 0, 0, 0.4)),
      url("https://images.pexels.com/photos/3944104/pexels-photo-3944104.jpeg?auto=compress&cs=tinysrgb&w=1290&h=850&dpr=1")
}

