.navMain {
    padding-top: 7%;
    font-family: sans-serif;

    .nav {

        background-color: rgba(0, 100, 125, 0);
        transition: background-color 0.3s;

         
        
        
    }
    
}