.navMain {
    padding-top: 7%;
    font-family: sans-serif;

    .nav {

        background-color: rgba(0, 100, 125, 0);
        transition: background-color 0.5s;
        box-shadow: 0px 0px 5px rgb(252, 252, 252);

    }

    .name{

        color: white;
        right: 17vw;
        
    }

    
}