.landingpage{

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: 0.5s;
    font-family: serif;

    .video-bg {

        width: 100%;
        height: 100vh;
        object-fit: cover;
        background-color: black;
    }

    .navbar {
        width: 100%;
        height: 0%;
        border-bottom: 2px solid rgba(195, 16, 16, 0.042);
        display: flex;
       
    }

    .menu{

        height: 13em;
        width: 15em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 2em;
        cursor: pointer;
    }


}

.about{
    color: rgb(255, 255, 255);
    background-color: rgba(25, 27, 28, 0.75);
    font-size: large;
    font-family: Georgia, Times, 'Times New Roman', serif;
}