.container-main {
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 82vw;
    background-repeat: no-repeat;

    .login{

        top: 10rem;
    }
  
}

