.GlobalContainer {
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
  }

.container{
    
    display:flex;   
    justify-content: center;
    padding: 0rem;
    text-align: center;
    a{
        display:flex;
        justify-content: center
    }
   
}

.textContainer{
    display:flex;
    justify-content: space-evenly;
}



