.container{
    display:flex;   
    justify-content: center;
    a{
        display:flex;
        justify-content: center
    }
   
}

.textContainer{
    display:flex;
    justify-content: space-evenly;
}