.App {
    background-color: rgba(100, 104, 104, 0.053);

    .container-input {

        text-align: center;
    }

    .table-responsive {
        background-color: rgba(100, 104, 104, 0.053);

    }

    .table-sm-table-bordered{

        text-align: center;
        font-size: large;
        color: azure;
        
    }


}