.App {
    background-color: linear-gradient(rgb(0, 0, 0), rgba(61, 194, 194, 0.012));
    

    .container-input {

        text-align: center;
        
    }

    .table-responsive {
        background-color: rgba(100, 104, 104, 0.053);
        display: flex;
        padding: 10rem;
        justify-content: space-evenly;
        

    }

    .table-sm-table-bordered{

        text-align: left;
        font-size: large;
        color: white;
        
        
    }

    .form-control-inputBuscar{

        width: 350px;
        box-shadow: 0px 0px 5px rgb(48, 157, 236);
    }

}

