.App {
    background-color: rgba(61, 194, 194, 0.053);
    

    .container-input {

        text-align: center;
    }

    .table-responsive {
        background-color: rgba(100, 104, 104, 0.053);
        display: flex;
        padding: 10rem;
        justify-content: space-evenly;

    }

    .table-sm-table-bordered{

        text-align: left;
        font-size: large;
        color: white;
        
    }

    .form-control-inputBuscar{

        width: 350px;
    }

}

