.notFound {
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
        margin-bottom: 5%;
        margin-top: 6%;
        width: 35.5%;
        border-radius: 4rem;
        opacity: 0.9;

        
    }
    .buttonX {
        position: absolute;
        align-items:end;
        left: 50%; 
        transform: translateX(-50%);
        bottom: 145px; 
        background-color: rgba(73, 141, 158, 0.443); 
    }
}