.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f000;
    margin-top: -270px
    
}

.valor{
    color:white
}