.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    padding: 8rem;
    justify-content: space-evenly;
    margin-top: 20px;

    .products-explain {

        color: white;
        font-family: 'Lucida Sans Regular';
        font-size: large;
    }

    .card-products {
        background-color: rgb(252, 252, 252);
        padding: 2%;
        border-radius: 5rem;
        box-shadow: 0px 0px 5px rgb(252, 252, 252);
        color: black;
        font-family: 'Lucida Sans Regular';

    }

    .btn-card {
        background-color: rgba(9, 95, 116, 0.408);
        border-radius: 5%;
        margin-top: 10px;
        box-shadow: 0px 0px 5px rgb(252, 252, 252);
        color: black;

    }

    .btn-details {
        background-color: rgba(9, 95, 116, 0.408);
        border-radius: 5%;
        gap: 3%;
        margin-top: 2px;
        box-shadow: 0px 0px 5px rgb(252, 252, 252);

    }

}