.products-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;

    .card-products{
        background-color: rgba(184, 172, 172, 0.63);

    }

    .btn-card{
        background-color:rgba(9, 95, 116, 0.408);
        border-radius: 5%;
        
    }

}