.card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 8px 16px -8px;
    text-align: center;
    box-shadow: rgba(9, 95, 116, 0.807); 
    
    
    margin-top: 10%;
  
    .product--image {
      max-width: 100%; 
      height: auto; 
    }
  
    h2 {
      font-size: 18px;
      margin: 8px 0;
    }
  
    .price {
      font-weight: bold;
      color: rgb(237, 19, 19); 
      margin: 8px 0;
    }
  
    p {
      margin: 8px 0;
    }
  
    button {
      background-color: rgba(9, 95, 116, 0.807); 
      color: white;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
    }
  }
  