.video{

    padding: 13%;
    margin: 2%;
    height: 100%;
    width: 100vh;
    object-fit: cover;
    
    
    

    .overplay {
        top: 29%;
        position: absolute;
        bottom: 10%; 
        width: 82%; 
        left: 10%;
        height: 100%;
        background-color: rgba(9, 95, 116, 0); 
        border-radius: 10px; 
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 1.1rem; 
        color: #fff; 
    
    }

._2FsrM img,
._2_1sf img {
  width: 25px; 
  height: 25px; 
  margin: 0 10px; 
}

._oGACf {
    color: white;
  }
    
}

._oGACf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

