
.footer-basic {
    padding: 2.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.947); 
    box-shadow: 0px 0px 5px rgb(252, 252, 252);

    ul {
        display: flex;
        justify-content: center;
        padding: 25px;
        list-style: none;
        text-align: center;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 0;

        a {
            color: inherit;
            text-decoration: none;
            opacity: 0.8;
        }

        a:hover {
            opacity: 1;
            color: gold;
            
        }
    }

    li {
        padding: 0 10px;
    }

    .social {
        text-align: center;
        padding-bottom: 25px;
    }

    .social>a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #ccc;
        margin: 0 8px;
        color: white;
        opacity: 0.75;
    }

    .social>a:hover {
        opacity: 0.9;
        color: gold;
        border: 2px solid  rgb(255, 215, 0);
        box-shadow: 0px 0px 5px rgb(252, 252, 252);
    }

    .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 19px;
        color: rgb(251, 241, 251);
        margin-bottom: 0;
        
        
    }

}