.App {
    
    .container-input {

        text-align: center;
        
    }

    .table-responsive {
        background-color: rgb(255, 255, 255);
        display: flex;
        padding: 10rem;
        justify-content: space-evenly;
        

    }

    .table-sm-table-bordered{

        text-align: left;
        font-size: large;
        color: #444;
        
        
    }

    .form-control-inputBuscar{

        width: 350px;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
    }

}

