.cart-container {

    text-align: center;
    margin: 0 auto;
    padding: 0rem;
    background-size: cover;
    background-position: center;
    height: 270vh;
    width: 70vw;
    



    .divider {
        font-size: large;
        color: white;
        

    }

    .list {
        box-shadow: 0px 0px 5px rgb(252, 252, 252);
        background-color: rgba(9, 95, 116, 0.282);
        border-color: rgba(9, 95, 116, 0.282);
    }
    .products {
        font-size: large;
        color: white;
    }
    .btn {
        background-color: rgba(169, 199, 206, 0);
        color: white;
    }

    .btn-in {
        box-shadow: 0px 0px 5px rgb(252, 252, 252);
        background-color: rgba(9, 95, 116, 0.408);
        color: white;
    }

    .btn-in-in {
        box-shadow: 0px 0px 5px rgb(252, 252, 252);
        background-color: rgba(9, 95, 116, 0.408);
        color: white;
        padding-left: 8%;
        margin: 4%;
    }

    .item {

        color: white;
    }

    .remove-button{
        background-color: rgba(9, 95, 116, 0.408);
        color: white;
        padding-right: 1.5%;
        margin: 5%;
        left: 230px;
        position: relative;

        @media screen and (max-width: 768px) {
            padding-right: 5%;
            margin: 3%;
            left: 0;
        }

    }
    .remove-buttonX{
        background-color: rgba(9, 95, 116, 0.408);
        color: white;
        padding-right: 1.5%;
        left: 230px;
        position: relative;
        line-height: 25px;
        

        @media screen and (max-width: 768px) {
            padding-right: 4%;
            margin: 3%;
            left: 0;
        }
    
    }

    .total {
    
    
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: rgba(0, 100, 125, 0);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgb(252, 252, 252);
        z-index: 100;
        color: white;
    
        @media (max-width: 768px) {
            .total {
                top: 10px;
                right: 10px;
                font-size: 14px;
                padding: 5px;
            }
        }
    }
}

