.GlobalContainer {

  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.721);

  
}


/*background-image: no-repeat;
background-image: linear-gradient(rgba(209, 203, 203, 0.914), rgba(81, 215, 215, 0.826)),
  url("https://images.pexels.com/photos/3944104/pexels-photo-3944104.jpeg?auto=compress&cs=tinysrgb&w=1290&h=850&dpr=1")*/
